img { 
    height: 40px;
    width: 50px;
    padding: 3%;
}
*{
    direction: rtl;
  }
button{color:#AE1E37}
//    mat-toolbar{background-color: #000000;}
.mat{background-color:white;
    }
    .header{
      background-color: black;
    }