<mat-toolbar class="mat">
    <mat-grid-list cols="9" rowHeight="64px">
      <mat-grid-tile colspan="2" >
         
       </mat-grid-tile>
      <mat-grid-tile colspan="2">
        </mat-grid-tile>
      <mat-grid-tile colspan="2">    </mat-grid-tile>
      <mat-grid-tile colspan="2"> שלום המורה   {{teacherUser.TeacherFirstName}} {{' '}}{{teacherUser.TeacherLastName}} </mat-grid-tile>
      <mat-grid-tile colspan="1"><img src="assets/img/logo3.png"></mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar>
 
  <app-navigator-teacher ></app-navigator-teacher>

