 <!-- <div *ngFor="let teacher of teachers">){{teacher.TeacherId}}{{teacher.TeacherFirstName}} {{teacher.TeacherLastName}}
    {{teacher.TeacherTz}}{{teacher.IsActive}}{{teacher.TeachingId}}{{teacher.PhoneNumber}}{{teacher.Adress}}{{teacher.Email}}{{teacher.PositionPrecent}}{{teacher.Permission}}
</div> -->

<!-- <input type="number" [(ngModel)]="data.currentTeacher.TeacherId"/> -->
<h2> פרטי מורה</h2>
<div class="example-container">
<div>
<mat-form-field appearance="fill">
    <mat-label>שם פרטי</mat-label>
    <input matInput [(ngModel)]="data.currentTeacher.TeacherFirstName">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>שם משפחה</mat-label>
    <input matInput [(ngModel)]="data.currentTeacher.TeacherLastName">
  </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
      <mat-label>ת.ז</mat-label>
      <input matInput [(ngModel)]="data.currentTeacher.TeacherTz">
    </mat-form-field>
  </div>
<div>
    <mat-form-field appearance="fill">
      <mat-label>פעילה?</mat-label>
      <input matInput [(ngModel)]="data.currentTeacher.IsActive">
    </mat-form-field>
  </div>
<div>
<mat-form-field appearance="fill">
    <mat-label>קוד סוג הוראה</mat-label>
    <input matInput [(ngModel)]="data.currentTeacher.TeachingId" (change)="change()">
  </mat-form-field>
</div>
<div>
<mat-form-field appearance="fill">
    <mat-label>מספר פלאפון</mat-label>
    <input matInput [(ngModel)]="data.currentTeacher.PhoneNumber">
  </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>כתובת</mat-label>
        <input matInput [(ngModel)]="data.currentTeacher.Adress">
      </mat-form-field>
    </div>
    <!-- <div>
<mat-form-field appearance="fill">
    <mat-label>מייל</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email"  [(ngModel)]="data.currentTeacher.email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div> -->
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com" [(ngModel)]="data.currentTeacher.email">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->

<div>
    <mat-form-field appearance="fill">
        <mat-label>שעות משרה</mat-label>
        <input matInput [(ngModel)]="data.currentTeacher.PositionHours">
      </mat-form-field>
    </div>
<div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>הרשאה</mat-label>
        <input matInput [(ngModel)]="data.currentTeacher.Permission">
      </mat-form-field>
    </div>
</div>

<!-- <input  [(ngModel)]="data.currentTeacher.TeacherFirstName"/> -->
<button (click)="saveTeacher()" ><mat-icon>save</mat-icon>שמירה</button>
