<!-- <mat-grid-list cols="1"  id="row3">
    <mat-grid-tile id="mat1"><img src="assets/img/secretary.png" class=img></mat-grid-tile> 
    
   </mat-grid-list>
  <button routerLink="/course">לצפיה</button>  -->
   <!-- <img src="assets/img/secretary.png"> -->
  <div class="write"><h2> שלום המזכירה {{secretaryUser.SecretaryFirstName}} {{' '}}{{secretaryUser.SecretaryLastName}}</h2></div>
   <div class="container">
    <img src="assets/img/secretary.png" alt="Snow">
    <button class="btn" routerLink="/course">לכניסה</button>
  </div>