<div class="d-flex h-100">
    <div class="side-menu d-flex">
      <div class=" ">
           <div id="m" class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
          [routerLink]="'../course'" routerLinkActive="active">
          
          <div style="display:inline" >התמחות</div>
          <div><img src="assets/img/course.png"></div>
        </div>
  
        <div class="d-flex h-100">
          <div class="side-menu d-flex">
            <div class=" ">
                 <div id="m" class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
                [routerLink]="'../teacher'" routerLinkActive="active">
               
                <div style="display:inline"> מורות</div>
                <div><img src="assets/img/teachers.png"></div>
              </div>
  
              <div class="d-flex h-100">
                <div class="side-menu d-flex">
                  <div class=" ">
                       <div id="m" class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
                      [routerLink]="'../student'" routerLinkActive="active">
                     
                      <div style="display:inline" >תלמידות</div>
                      <div><img src="assets/img/student2.png"></div>
                    </div>
  
                    <div class="d-flex h-100">
                      <div class="side-menu d-flex">
                        <div class=" ">
                             <div id="m" class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
                            [routerLink]="'../secretary'" routerLinkActive="active">
                            <div style="display:inline" >מזכירות</div>
                            <div><img src="assets/img/secretary1.png"></div>
                         
                          </div>
                    
                          </div>
                       