<div class="d-flex h-100">
  <div class="side-menu d-flex">
    <div class=" ">
         <div id=m class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
        [routerLink]="'../teachingAvailability'" routerLinkActive="active">
       
        <div style="display:inline"> ימים להנחית ההוראה</div>
        <div><img src="assets/img/teaching1.png"></div>
      </div>

<div class="d-flex h-100">
    <div class="side-menu d-flex">
      <div class=" ">
           <div id="m" class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
           [routerLink]="'../updateDetails'" routerLinkActive="active">
          
          <div style="display:inline" >עדכון פרטים אישיים</div>
          <div><img src="assets/img/update.png"></div>
        </div>
       
  
        <div class="d-flex h-100">
          <div class="side-menu d-flex">
            <div class=" ">
                 <div id="m" class="nav-btn d-flex flex-column align-items-center my-auto justify-content-center"
                [routerLink]="'../showDetails'" routerLinkActive="active" >
               
                <div style="display:inline"> צפייה בקבוצת התלמידות</div>
                <div><img src="assets/img/group.png"></div>
              </div>
  
             
               </div>

              