<h2>  פרטי מרכזת ומזכירה</h2>
<div class="example-container">

<div>
<mat-form-field appearance="fill">
    <mat-label>שם פרטי</mat-label>
    <input matInput [(ngModel)]="data.currentSecretary.SecretaryFirstName">
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>שם משפחה</mat-label>
    <input matInput [(ngModel)]="data.currentSecretary.SecretaryLastName">
  </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
      <mat-label>ת.ז</mat-label>
      <input matInput [(ngModel)]="data.currentSecretary.SecretaryTz">
    </mat-form-field>
  </div>
<div>
    <mat-form-field appearance="fill">
      <mat-label>פעילה?</mat-label>
      <input matInput [(ngModel)]="data.currentSecretary.IsActive">
    </mat-form-field>
  </div>
<div>

<mat-form-field appearance="fill">
    <mat-label>מספר פלאפון</mat-label>
    <input matInput [(ngModel)]="data.currentSecretary.PhoneNumber">
  </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill">
        <mat-label>כתובת</mat-label>
        <input matInput [(ngModel)]="data.currentSecretary.Adress">
      </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="fill">
        <mat-label>מייל</mat-label>
        <input matInput [(ngModel)]="data.currentSecretary. Email">
      </mat-form-field>
    </div>
    <div>
    <mat-form-field appearance="fill">
        <mat-label>סיסמא</mat-label>
        <input matInput [(ngModel)]="data.currentSecretary. Password">
      </mat-form-field>
    </div>

 
    
    <!-- <div>
<mat-form-field appearance="fill">
    <mat-label>מייל</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email"  [(ngModel)]="data.currentTeacher.email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div> -->
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com" [(ngModel)]="data.currentTeacher.email">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form> -->


<!-- <input  [(ngModel)]="data.currentTeacher.TeacherFirstName"/> -->
<button (click)="saveSecretary()" ><mat-icon>save</mat-icon>שמירה</button>

