<!-- <div id="chartC" style="height: 370px; width: 70%;"></div> -->
<div></div>

<!-- <div *ngFor="let item of students | keyvalue">
	{{item.key}}:{{item.value}}
  </div> -->
 
    <mat-grid-list cols="10" rowHeight="640px">
      <mat-grid-tile colspan="7">
        <div id="chartC" style="height: 370px; width: 70%;"></div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
    <div><h2>1.  הוראה רגילה ה'</h2></div>
    <div><h2>2. הוראה לתיכונים ה'</h2></div>
    <div><h2>5.הוראה רגילה ו'</h2></div>
    <div><h2>6. הוראה לתיכונים ו'</h2></div>
    <div class="red">אחוז תלמידות שעזבו </div>
    <div class="black">אחוז תלמידות שהתארסו</div>
  </mat-grid-tile>
    </mat-grid-list>
    <div id="chartContainer" style="height: 370px; width: 70%;"></div>