label{background-color:#AE1E37;
color: #AE1E37;}
data{
    font-family:Fb Baznat; ;
}
.red{
    background-color:#AE1E37;
    color: white;
}
.black{
    background-color:black; 
    color: white;
}
// #chartC{
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
    
// }
// #chartContainer{
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }