// mat-toolbar{display:none;}
// .list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// .tile {
//   width: 100px;
//   height: 100px;
//   border: 1px solid #777;
//   margin: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
// }
 img { //inline-block:none;
    height: 200px;
    width: 230px;
     padding-left:43%;
    padding-right:43%;
    
  //   background-position: center;
  //  position: center;
  //  image-resolution: center;
}
#click1{
  height:65px;
  width: 55px;
  // padding-left:35%;
  // padding-right:40%;
 
}
mat-grid-list{
//width: 90% !important;
 margin-left :5%!important;
 margin-right:5%!important;
justify-content: flex-start !important ;
align-items: flex-start !important;
}
mat-tile{
  width: 100%; display: flex; align-items: flex-start;
  width: 100px;
  height: 100px;
  border: 1px solid #777;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body{width: 100% !important;}
// img{ z-index:1;}
 #chart1{
  width: 80% !important;
  height: 80% !important;
}
#chart2{
 
  width: 80% !important;
  height: 80% !important;
}
#home{
    height: 65%;
    width: 75%;
    margin-left:2px;
}
h2{font-family:Fb Baznat;
color: white ;
margin-block-start:2%; ;
}
*{
    direction: rtl;
  }
  button{background-color:#AE1E37;
    z-index:3;
    margin-right: auto;
  margin-left: auto;}
  button{color: black;}

 #row1 {
    background: black;
    z-index:1;
    display: block;
  }
  #row2 {
    background: #AE1E37;
    z-index:1;
  }
  #row3{
    background-color: white;
  }
  #mat1{
    text-align: center;
  }
div{
  // text-align: center;
  
  padding-left:40%;
  padding-right:40%;
}

::ng-deep.mat-grid-tile.mat-figure{
  justify-content: center !important;
  width: 100% !important;
}
// .spinner {
//   width: 40px;
//   height: 40px;
//   background-color: white;

//   margin: 100px auto;
//   -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
//   animation: sk-rotateplane 1.2s infinite ease-in-out;
// }

// @-webkit-keyframes sk-rotateplane {
//   0% { -webkit-transform: perspective(120px) }
//   50% { -webkit-transform: perspective(120px) rotateY(180deg) }
//   100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
// }

// @keyframes sk-rotateplane {
//   0% { 
//     transform: perspective(120px) rotateX(0deg) rotateY(0deg);
//     -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
//   } 50% { 
//     transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
//     -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
//   } 100% { 
//     transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//     -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//   }
// }