
<img src="assets/img/logo3.png" > 
<mat-grid-list cols="1" rowHeight="30:1" id="row3">
  <mat-grid-tile id="mat1"> <h1>מחשב תקן בקליק</h1></mat-grid-tile> 
 </mat-grid-list>
 <mat-grid-list cols="1" rowHeight="32:1" id="row3">
  <mat-grid-tile id="mat1"><img src="assets/img/click.png" id=click1  ></mat-grid-tile> 
 </mat-grid-list>

<mat-grid-list cols="2" rowHeight="250px" id="row1" class="list">

  <mat-grid-tile colspan="1" routerLink="/dashboard" ><img src="assets/img/Chart .png" id=chart1 class="tile"> </mat-grid-tile> 
  <mat-grid-tile colspan="1" routerLink="/dashboard"><img src="assets/img/Chart2.png" id=chart2 class="tile"> </mat-grid-tile>
  <!-- <mat-grid-tile colspan="1"> </mat-grid-tile> -->
 
      <!-- <img src="assets/img/home.png" id="home">  -->
  
 </mat-grid-list>

 <!-- <mat-grid-list cols="1" rowHeight="25:1" id="row3">
  <mat-grid-tile> </mat-grid-tile> 
 </mat-grid-list> -->

 <mat-grid-list cols="3" rowHeight="260px" id="row3">
  <mat-grid-tile colspan="1" routerLink="/about"><img src="assets/img/teaching.png" > </mat-grid-tile> 
  <mat-grid-tile colspan="1" routerLink="/splitingToGroups"><img src="assets/img/student.png" > </mat-grid-tile>
  <mat-grid-tile colspan="1" routerLink="/teacher"><img src="assets/img/hours.png" > </mat-grid-tile>
  </mat-grid-list>

 <mat-grid-list cols="1" rowHeight="20:1" id="row2">
  <mat-grid-tile (click)="openDialog()"><h2>לשימוש יש להזדהות >>></h2></mat-grid-tile> 
 </mat-grid-list>
<!-- <button mat-raised-button ><a routerLink="/login"> התחבר למערכת</a></button>
  

<button (click)="openDialog()">לשימוש יש להזדהות >>></button> -->
<!-- <button mat-raised-button (click)="login()" >לכניסה</button> -->




